<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Qty</th>
                  <th>UPC</th>
                  <th class="col-md-1">Actions</th>
                </tr>
            </thead>
        <% @beerlist.each do |beer| %>
            <tr>
                <td><%= beer['name'] %></td>
                <td><%= @beer_types[beer['type'].to_i] %></td>
                <td><%= beer['qty'] %></td>
                <td><%= beer['upc'] %></td>
                <td class="col-md-1">
                    <div class="nav navbar-right">
                        <%= link_to "Edit", edit_beer_path(beer['upc']), 'class' => "btn btn-primary" %>
                    </div>
                </td>
            </tr>
        <% end %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="nav navbar-right">
                        <%= link_to "Add Beer", new_beer_path, 'class' => "btn btn-primary" %>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>